<h1>Questions Index</h1>
<%= render 'new_form' %>
<% @questions.each do |question| %>
<h3><%= link_to question.title, question, method: :GET, data: {id: question.id} %></h3>
<content><%= question.content %></content>
<%end %>
